@font-face {
   font-family: 'Questrial';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/Local%20Data/Mobirise/happinessatwork/chung-nhan-2024/fonts/Questrial/regular.ttf') format('truetype');
}
